.login{
    width: 25rem;
    margin:auto;
    height: auto;
}
.login fieldset{
    height:34vh;
    padding:4rem;
    border-color: midnightblue;
    background: #dfd8f7;
   box-shadow: #7575f1 0px 15px 15px;
}
.login legend{
    color:midnightblue;
    font-size: 1.5rem;
}
.login fieldset *{
    margin:1rem;
    
}
.login fieldset{
    color:#1909af;
}

.login fieldset label{
    font-size:1.6rem;
    color: #1909af;
}
#username,#password, #name, #number{
    background: transparent;
    border-style: none;
    padding:5px;
    border-bottom: 1px solid #1909af ; 
    color: #1010ad;
    font-size:1rem;
    letter-spacing: 1px;
    font-weight: bold;
}
#submit{
    background: transparent;
    padding:   0.8rem 1rem;
    color: #1909af;
    font-size: 1rem;
    border:1px solid midnightblue;
    border-radius: 0.4rem;
    cursor: pointer;

}
input{
    background: transparent !important;
}